---
import '../styles/global.css';
---
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ruta de Comprobación de Ideas</title>
    <link rel="icon" href="/favicon.svg" />
  </head>
  <body class="font-sans antialiased text-gray-900 bg-white">
    <slot />
  </body>
</html>
